:root {
  --chat-message-font-size: clamp(0.75rem, 2vw, 1.5rem);
}

.admin-chat-container {
  position: relative;
  width: 80vw;
  height: 80vh;
  inset: 0;
  margin: auto;
  display: flex;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  overflow: hidden;
}
.user-container {
  position: relative;
  z-index: 1;
  width: 25%;
  height: 100%;
  background: var(--white);
  box-shadow: 2px 0 4px rgb(0, 0, 0, 0.2);
}
.user {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--light-grey);
}
.user:hover {
  background: var(--lighter-grey);
}
.user-name {
  font-size: var(--medium-font-size);
}
.user-email {
  font-size: var(--small-font-size);
  color: var(--grey);
  word-wrap: break-word;
}
.chat-container {
  width: 75%;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
}
.message-container {
  flex: 14;
}
.message-input {
  flex: 1;
  display: flex;
  background: var(--white);
  padding: 0.5rem;
  gap: 1rem;
}
.message-input-value {
  all: unset;
  font-size: 1.25rem;
  padding: 0 1rem;
  background: var(--white);
  flex: 6;
  border: 1px solid var(--light-grey);
  border-radius: 2rem;
}
.send-message-button {
  flex: 1;
  text-align: center;
  align-content: center;
  font-size: var(--medium-font-size);
  font-weight: 600;
  border-radius: 1rem;
  color: var(--white);
  background: var(--light-black);
  cursor: pointer;
  user-select: none;
}
.send-message-button:hover {
  background: var(--black);
}
.chat-message {
  overflow-wrap: break-word;
  font-size: var(--chat-message-font-size);
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  width: max-content;
  max-width: 60%;
  color: var(--white);
  background: var(--primary-color);
}
.chat-admin {
  align-self: flex-end;
}
.chat-user {
  background: var(--grey);
}
.message-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-y: auto;
}
.active-chat {
  background: var(--light-grey);
}
.admin-chat-header{
  height: 100%;
  text-align: center;
  align-content: center;
  font-size: var(--big-font-size);
  font-weight: 600;
  font-style: italic;
  text-shadow: 5px 0 5px orange;
}
@media screen and (max-width: 1100px) {
  .admin-chat-container {
    width: 100%;
    height: calc(100vh - 4rem);
  }
  .user-container {
    width: 35%;
  }
  .chat-container {
    width: 65%;
  }
}
