:root {
  --side-nav-font-size: clamp(1rem, 2vw, 1.5rem);
  --icon-gap: clamp(1.5rem, 1.5vw, 2.5rem);
  --product-font-size: clamp(0.75rem, 1.5vw, 1.25rem);
  --product-stock-font-size: clamp(1rem, 1.75vw, 1.4rem);
  --search-font-size: clamp(1rem, 1.5vw, 1.75rem);
  --home-title-font-size: clamp(2rem, 12vw, 16rem);
  --home-subtitle-font-size: clamp(0.75rem, 2vw, 1.25rem);
}
body {
  display: flex;
}
main {
  width: 100vw;
}
.side-nav {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--icon-gap);
  background: var(--light-black);
}
.nav-option {
  text-decoration: none;
  color: var(--white);
  width: 100%;
  height: 2.5rem;
  font-size: var(--side-nav-font-size);
}
.side-nav-images {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease;
}
.side-nav-images:hover {
  scale: 1.05;
}
.side-nav-images:active {
  scale: 1;
}
.phLogo {
  width: 100%;
  height: 4rem;
  text-align: center;
  align-content: center;
}
.phLogo-image {
  object-fit: contain;
  height: 100%;
  aspect-ratio: 1/1;
}
.search-container {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-product-container {
  width: max-content;
  margin: 2rem auto;
  border-bottom: 1px solid black;
}
.search-icon-image {
  object-fit: cover;
  width: 1.25rem;
  aspect-ratio: 1/1;
}
.logout-admin {
  margin-top: auto;
  cursor: pointer;
}
.search-product-input {
  all: unset;
  padding-inline: 0 1rem;
  width: 40rem;
  font-size: var(--search-font-size);
}
.product-list-container {
  flex: 1;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}
.product-container {
  align-items: center;
  display: grid;
  padding-right: var(--small-font-size);
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  background: var(--white);
  font-size: var(--product-font-size);
  overflow: hidden;
  cursor: default;
  transition: scale 0.25s ease;
}
.product-container:hover {
  scale: 1.025;
}
.product-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.product-image,
.product-image-value {
  object-fit: cover;
  width: 100%;
}
.product-name {
  grid-column: 2/4;
  text-align: left;
  justify-content: start;
}

.product-stock {
  position: relative;
  display: flex;
  justify-content: center;
}
.product-stock-value {
  width: 50%;
  font-size: var(--product-stock-font-size);
}
.product-stock::before {
  content: "STOCK";
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -150%;
}
.delete-product {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-weight: 600;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
  transition: all 0.1s linear;
}
.delete-product:hover {
  translate: 0 -1px;
}
.delete-product:active {
  scale: 0.98;
}
.add-product-container {
  padding: var(--medium-font-size);
  width: 100%;
  height: 100%;
  padding-bottom: var(--smaller-font-size);
}
.add-header {
  font-size: var(--big-font-size);
  border-bottom: 1px solid var(--light-black);
}
.add-main-container {
  display: flex;
  justify-content: space-between;
  padding: var(--big-font-size) var(--small-font-size);
  gap: var(--big-font-size);
}
.add-main-container > * {
  flex: 1;
}
.add-input-container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-font-size);
}
.add-container {
  display: flex;
  flex-direction: column;
}
.add-label {
  font-weight: 600;
  color: var(--light-black);
}
.add-input {
  all: unset;
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  padding: var(--smaller-font-size);
  font-size: var(--side-nav-font-size);
  border: 1px solid var(--grey);
}
.add-drop-container {
  position: relative;
}
.add-category,
.add-drop-value {
  cursor: pointer;
}
.add-drop-value {
  all: unset;
  background: var(--lighter-grey);
}
.drop-down-icon {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  width: 1.5rem;
  height: 1.5rem;
}
.add-image {
  max-height: 70vh;
  aspect-ratio: 1/1;
  gap: 1rem;
}
.add-image-value {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-grey);
}
.add-product-button {
  width: max-content;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: var(--white);
  background: var(--light-black);
  cursor: pointer;
  transition: all 0.2s ease;
}
.add-product-button:hover {
  translate: 0 -2px;
}
.add-product-button:active {
  scale: 0.98;
}
.transaction-header {
  font-weight: 600;
  text-align: center;
  padding-block: var(--big-font-size);
  font-size: var(--big-font-size);
  
  color: var(--light-black);
  text-shadow: 2px 2px 0 var(--primary-color);
}
.transactions-container {
  width: 100%;
  padding: 1rem;
  font-size: var(--medium-small-font-size);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.transaction-card-container {
  width: 100%;
  padding: var(--small-font-size);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.25rem;
  align-items: center;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.transaction-card-container > * {
  width: 100%;
  display: flex;
  justify-content: center;
}
.transaction-id {
  text-wrap: none;
  justify-content: flex-start;
}
.transaction-id-value {
  margin-left: 0.25rem;
  font-weight: 600;
}
.transaction-items-container {
  grid-column: 3/5;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
}
.transaction-items-container > * {
  padding: 0;
}

.transaction-status-container {
  position: relative;
  cursor: pointer;
  width: 100%;
}
.transaction-status {
  all: unset;
  font-weight: 600;
  position: relative;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--light-black);
}
.transaction-status-value {
  background: var(--lighter-grey);
}
.drop-down-icon-transactions {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  translate: 0 -50%;
  width: 1.5rem;
  height: 1.5rem;
}

/* 
.add-drop-value {
  all: unset;
  background: var(--lighter-grey);
}
.add-drop-down-icon {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  width: 1.5rem;
  height: 1.5rem;
}
*/
/* 
<div class="transaction-card-container">
  <div class="transaction-id">5S685403400788609</div>
  <div class="transaction-date">2024-12-06</div>
  <div class="transaction-items">Casual Tshirt(2) - M - P1599.99</div>
  <select name="" class="transaction-status">
    <option value="PENDING">PENDING</option>
    <option value="APPROVED">APPROVED</option>
    <option value="IN SHIPPING FACILITY">IN SHIPPING FACILITY</option>
    <option value="ON DELIVERY">ON DELIVERY</option>
    <option value="RECEIVED">RECEIVED</option>
  </select>
</div>
*/

@media screen and (max-width: 1100px) {
  body {
    flex-direction: column;
  }
  .add-main-container {
    flex-direction: column;
  }
  .add-header {
    text-align: center;
    font-size: var(--medium-big-font-size);
  }
  .add-product-button {
    margin: auto;
  }
  .side-nav {
    z-index: 1000;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .side-nav > * {
    margin: 0;
  }
  .phLogo {
    height: 2.5rem;
  }
  .nav-option {
    height: 1.25rem;
  }
  .search-container {
    top: 2.5rem;
  }
}
