:root {
  --quantity-font-size: clamp(0.75rem, 2vw, 1.2rem);
  --padding-cart: clamp(0.25rem, 2vw, 0.5rem);
  --product-header: clamp(0.9rem, 1.25vw, 1.25rem);
  --product-text: clamp(0.75rem, 1vw, 1rem);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  min-height: 100vh;
}
main {
  position: relative;
  margin: auto;
  max-width: var(--content-width);
  display: flex;
  padding: 1rem 0.5rem;
  gap: var(--small-font-size);
}
main > * {
  padding: 0.5rem;
}
.cart-section {
  min-height: 65vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: var(--medium-font-size);
}
.cart-header {
  position: relative;
  font-size: var(--product-header);
  font-weight: 600;
  border-bottom: 1px solid #000;
}
.cart-item-container {
  width: 100%;
  height: 100%;
}
.cart-header,
.cart-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--smaller-font-size);
  align-items: center;
}
.cart-item {
  position: relative;
  box-shadow: 0 4px 2px var(--light-grey);
  font-size: var(--product-text);
}
.cart-item > * {
  padding: 0.25rem;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.product-name,
.cart-item-image-name {
  grid-column: 1/3;
  gap: var(--small-font-size);
  padding: var(--padding-cart);
}
.cart-item-image-name {
  width: 100%;
  display: flex;
}
.cart-item-description {
  flex: 1;
  display: flex;
  gap: var(--small-font-size);
  flex-direction: column;
}
#cart-item-size-bold {
  font-weight: 600;
}
.cart-item-image {
  width: 40%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid var(--light-grey);
}
.cart-item-quantity-container {
  padding-right: var(--medium-font-size);
}
.cart-item-quantity {
  overflow: hidden;
  display: flex;
  border: 1px solid var(--light-black);
  font-size: var(--quantity-font-size);
}
.cart-item-quantity input {
  all: unset;
  pointer-events: none;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-left: 1px solid var(--light-black);
  border-right: 1px solid var(--light-black);
}
.quantity-button {
  width: 100%;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white);
  transition: all 0.2s ease;
}
.quantity-button:active {
  scale: 0.9;
}
.cart-item-delete {
  position: absolute;
  width: 1.75rem;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  border-radius: 50%;
  top: 0.5rem;
  right: 0.5rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
.cart-item-delete-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cart-item-delete:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
.cart-item-delete:active {
  background-color: rgb(0, 0, 0, 0.2);
}
.checkout-section {
  position: sticky;
  top: calc(10vh + 1rem);
  flex: 1;
  height: 30rem;
  min-height: 2rem;
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  background: var(--white);
}
.checkout-header,
.checkout-header-sub {
  text-align: center;
  font-size: var(--product-text);
}
.checkout-header {
  font-size: var(--medium-font-size);
  margin-top: var(--small-font-size);
  font-weight: 600;
}
.checkout-header-sub {
  margin-bottom: var(--medium-font-size);
}
.checkout-item {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--small-font-size);
}
.checkout-item-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.checkout-item-name {
  flex: 6;
}
.checkout-item-price {
  text-align: right;
}
.checkout-send {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--black);
  font-size: var(--small-font-size);
}
.checkout-send > * {
  flex: 1;
  padding-block: 0.5rem;
  text-align: center;
  align-content: center;
}
.checkout-send-total-price-value {
  font-weight: 600;
}
.checkout-send-button {
  font-weight: 600;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
  transition: all 0.1s ease;
}
.checkout-send-button:hover {
  background: var(--light-black);
}
.checkout-send-button:active {
  background: var(--black);
}

.payment-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.payment-container-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.payment-container-methods {
  position: absolute;
  z-index: 1000;
  width: min(100%, 40rem);
  max-height: 40rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
  background: var(--white);
  padding: 2rem;
  overflow: auto;
}
.no-items {
  padding-block: 10rem;
  text-align: center;
}
@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }
  .cart-section {
    width: 100%;
    flex: 1;
  }
  .checkout-section {
    bottom: 0.5rem;
    border: none;
    border: 1px solid var(--black);
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.2);
  }
  .checkout-header,
  .checkout-header-sub,
  .checkout-item {
    display: none;
  }
  .checkout-send {
    border: none;
    height: 100%;
    font-size: 0.7rem;
  }
  .checkout-send > * {
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  .cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cart-item {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0;
  }
  .cart-header {
    display: none;
  }
  .cart-item-quantity-container {
    max-width: 6rem;
    position: relative;
    translate: 0 -280%;
    padding: 0;
  }
  .cart-item-price {
    position: relative;
    translate: 0 100%;
  }
  .cart-item-total-price {
    display: none;
  }
}
