.chat-container {
  position: fixed;
  z-index: 600;
  right: 1rem;
  bottom: 0;
  width: 22rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: var(--white);
  overflow: hidden;
}
.chat-message-container {
  height: 85%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-y: auto;
  background-color: rgb(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--grey);
}
.chat-send-container {
  height: 15%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  gap: 0.25rem;
}
.message-input {
  all: unset;
  height: 80%;
  flex: 4;
  border-radius: 20rem;
  padding: 0 0.75rem;
  background: var(--lighter-grey);
  border: 1px solid rgb(0, 0, 0, 0.2);
}
.send-message-button {
  align-content: center;
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: 600;
  height: 80%;
  flex: 1;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--white);
  background-color: var(--light-black);
  transition: all 0.2s linear;
  user-select: none;
}
.send-message-button:hover {
  background: var(--black);
}
.send-message-button:active {
  scale: 0.95;
}
.chat-message {
  overflow-wrap: break-word;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  width: max-content;
  max-width: 60%;
  color: var(--white);
  background: var(--primary-color);
}
.chat-user {
  align-self: flex-end;
}
.chat-admin {
  background: var(--grey);
}
.chat-head {
  width: 100%;
  height: 3.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--white);
  background: var(--black);
}
.exit-chat {
  height: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.exit-chat img {
  object-fit: contain;
  height: 70%;
}
.exit-chat:hover {
  filter: invert() brightness(90%);
}
.open-chat {
  position: fixed;
  z-index: 600;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  aspect-ratio: 1/1;
}
.open-chat-icon {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.open-chat:hover {
  filter: brightness(90%);
}
.pormaLogo {
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pormaLogo img {
  object-fit: contain;
  width: 70%;
  height: 70%;
}
