* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "century gothic";
  font-size: 16px;
  font-size: 11.5px;
  background: var(--white);
  scroll-behavior: smooth;
}
:root {
  --content-width: 80rem;

  --primary-color: #ff9000;
  --secondary-color: #e98400;
  --tertiary-color: #c5ac8e;
  --quaternary-color: #5f4e3e;
  --white: white;
  --lightest-grey: #f9f9f9;
  --lighter-grey: #eeeeee;
  --light-grey: #dddddd;
  --light-black: rgb(50, 50, 50);
  --black: black;

  --text-shadow-banner: clamp(0.2rem, 0.5vw, 0.5rem);

  --smaller-font-size: clamp(0.35rem, 1vw, 0.75rem);
  --small-font-size: clamp(0.5rem, 1.25vw, 0.75rem);
  --medium-small-font-size: clamp(0.65rem, 1.35vw, 0.8rem);
  --medium-font-size: clamp(1.25rem, 1.5vw, 2rem);
  --big-font-size: clamp(2rem, 2.5vw, 3.5rem);
}
button {
  all: unset;
  user-select: none;
}
.hide {
  display: none;
}
.gone {
  visibility: hidden;
  opacity: 0;
}
.invert {
  filter: invert();
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../src/assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../src/assets/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../src/assets/fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Light";
  src: url("../../src/assets/fonts/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("../../src/assets/fonts/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Medium";
  src: url("../../src/assets/fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("../../src/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Kugile_Demo";
  src: url("../../src/assets/fonts/Kugile_Demo.ttf") format("truetype");
}
@font-face {
  font-family: "Evogria";
  src: url("../../src/assets/fonts/Evogria.otf") format("truetype");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../../src/assets/fonts/Gotham Bold.otf") format("truetype");
}

.blur-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px) brightness(80%);
  transition: all 0.25s ease;
}
.notification-list {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(80%, 20rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.error {
  font-size: var(--error-font-size);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #c71b17;
  border: 1px solid #c71b17;
}
.notif {
  font-size: var(--error-font-size);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #2cf651;
  border: 1px solid #2cf651;
  text-align: center;
}
.underline {
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--primary-color);
}
