* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "century gothic";
  font-size: 16px;
  background: var(--white);
  scroll-behavior: smooth;
}
:root {
  --content-width: 80rem;

  --primary-color: #22333b;
  --secondary-color: #eae0d6;
  --tertiary-color: #c5ac8e;
  --quaternary-color: #5f4e3e;
  --primary-color: #ff9000;
  --white: white;
  --lightest-grey: #f9f9f9;
  --lighter-grey: #eeeeee;
  --light-grey: #dddddd;
  --light-black: rgb(50, 50, 50);
  --black: black;

  --text-shadow-banner: clamp(0.2rem, 0.5vw, 0.5rem);

  --smaller-font-size: clamp(0.35rem, 1vw, 0.75rem);
  --small-font-size: clamp(0.5rem, 1.25vw, 0.75rem);
  --medium-small-font-size: clamp(.65rem, 1.35vw, .8rem);
  --medium-font-size: clamp(1.25rem, 1.5vw, 2rem);
  --big-font-size: clamp(2rem, 2.5vw, 3.5rem);
}
button {
  all: unset;
}

.hide {
  display: none;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../src/assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../src/assets/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../src/assets/fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Light";
  src: url("../../src/assets/fonts/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("../../src/assets/fonts/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Medium";
  src: url("../../src/assets/fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Kugile_Demo";
  src: url("../../src/assets/fonts/Kugile_Demo.ttf") format("truetype");
}
