* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "century gothic";
  font-size: 16px;
  background: var(--white);
  scroll-behavior: smooth;
}
:root {
  --primary-color: #22333b;
  --secondary-color: #eae0d6;
  --tertiary-color: #c5ac8e;
  --quaternary-color: #5f4e3e;
  --white: white;
  --light-black: rgb(50, 50, 50);
  --black: black;

  --banner-font-size: clamp(2rem, 16vw, 14rem);
  --small-font-size: clamp(0.35rem, 1.25vw, 1rem);
  --medium-font-size: clamp(1rem, 1.5vw, 2.5rem);
  --big-font-size: clamp(2rem, 2.5vw, 3.5rem);
}
button {
  all: unset;
}
