.nav {
  position: relative;
  z-index: 1000;
  width: 100%;
  padding-inline: 2rem;
  background: var(--white);
}
.navbar {
  margin: 0 auto;
  max-width: 80rem;
  height: 10vh;
  align-content: center;
}
.navlogo {
  display: block;
  text-decoration: none;
  color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.pormahub-logo-text {
  font-size: var(--logo-text-font-size);
  text-wrap: nowrap;
}
#hub-logo-text {
  color: var(--primary-color);
  font-weight: 600;
}
.navlogo img {
  display: block;
  width: 80%;
  height: 80%;
}
.nav-burger {
  width: 2.5rem;
  aspect-ratio: 1/1;
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  transition: all 0.1s linear;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
}
.nav-burger:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
.nav-burger:active {
  background-color: rgb(0, 0, 0, 0.2);
}
.nav-burger img {
  width: 100%;
  height: 100%;
}
.navlinks-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7.5px);
  transition: all 0.2s ease-in-out;
}
.navlinks-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: min(100%, 32rem);
  height: 100%;
  font-size: var(--big-font-size);
  margin-left: auto;
  padding-inline: 3.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out;
}
.navlinks-background,
.navlinks-container > * {
  color: var(--white);
}
.navlinks-title {
  position: relative;
  text-align: center;
  font-weight: 600;
  margin-block: 4.75rem 2rem;
}
#hub-text {
  border-radius: 0.25rem;
  padding: 0.1rem;
  background: var(--primary-color);
  color: var(--black);
}
.navlink {
  position: relative;
  font-size: var(--navlink-font-size);
  text-decoration: none;
}
.navlink::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: var(--white);
  transition: all 0.2s ease-in-out;
}
.navlink:hover::before {
  width: 100%;
  left: 0;
}
.burger-exit {
  position: absolute;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  top: 0.5rem;
  left: 0.5rem;
  transition: all 0.1s linear;
  filter: invert();
  cursor: pointer;
}
.burder-exit img {
  display: block;
  width: 100%;
  height: 100%;
}
.burger-exit:hover {
  background-color: rgb(0, 0, 0, 0.2);
}
.burger-exit:active {
  background-color: rgb(0, 0, 0, 0.25);
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.burger-translate {
  translate: 100% 0;
}
/* 
<div class="nav-burger">
  <img src="../assets/svg/burger.svg" />
  <div class="navlinks-background">
    <div class="navlinks">
      <a href="">HOME</a>
      <a href="">PRODUCTS</a>
      <a href="">ABOUT</a>
      <a href="">CONTACT</a>
    </div>
  </div>
</div>
*/
.sticky {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
}
