:root {
  --phLogo-size: clamp(3rem, 5vw, 4rem);
  --input-padding: 0.75rem;
  --border-radius: 0.5rem;
  --error-font-size: clamp(0.75rem, 2.5vw, 1rem);
}
main {
  width: 100vw;
  height: 100vh;
}
button {
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  translate: 0 -2px;
}
button:active {
  scale: 99%;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(95%, 24rem);
  height: min(100%, 32rem);
  padding: var(--medium-font-size);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-font-size);
  background: var(--black);
}
.input-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container input {
  border: none;
  border-radius: 4px;
  font-family: Poppins-Light;
}
.form-container input:focus {
  outline: none;
}
.phLogo {
  object-fit: contain;
  width: var(--phLogo-size);
  height: 16%;
}
.form-container div,
.first-last-name > * {
  width: 100%;
}
.input-field-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-field-container > * {
  display: block;
  padding: var(--input-padding);
}
.first-last-name {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}
.first-last-name > * {
  padding: var(--input-padding);
}
.user-btn {
  display: block;
  margin: 0.5rem auto;
  padding: 0.75rem 1.5rem;
  font-family: Poppins-Medium;
  font-size: 0.75rem;
  border-radius: 4px;
  color: var(--white);
  background: var(--primary-color);
}

.error-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px) brightness(80%);
  transition: all 0.25s ease;
}
.error-list {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(80%, 20rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.error {
  font-size: var(--error-font-size);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #c71b17;
  border: 1px solid #c71b17;
}
.otp-form {
  align-items: flex-start;
}
.otp-header {
  font-size: var(--medium-small-font-size);
  color: var(--white);
}
.otp-form .input-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}
.input-otp {
  width: 6rem;
  text-align: center;
}
#map {
  width: 500px;
  height: 500px;
  background: grey;
}
