:root {
  --search-font-size: clamp(0.75rem, 1.5vw, 1.15rem);
  --category-font-size: clamp(1rem, 1.5vw, 2.5rem);
  --size-font-size: clamp(1rem, 1.5vw, 1.5rem);
  --add-font-size: clamp(0.45rem, 1vw, 0.55rem);
}
body {
  background: var(--lighter-grey);
  min-height: 100vh;
}
main {
  margin: auto;
  max-width: var(--content-width);
  min-height: 68vh;
  padding: 2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--small-font-size);
}
.store-video-container {
  margin: 1rem auto 0;
  max-width: var(--content-width);
  height: min(30vw, 18rem);
}
.store-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-grid-container {
  margin-left: auto;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}
.product-container {
  width: calc(100% - 4px);
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease;
}
.product-container:hover {
  translate: 0 -1px;
}
.product-containerZ {
  z-index: 300;
}
.product-background {
  text-align: center;
  align-content: flex-end;
  font-size: var(--medium-small-font-size);
  padding-bottom: 0.25rem;
  position: absolute;
  z-index: 100;
  top: 54%;
  left: 50%;
  translate: -50% -50%;
  width: 102%;
  height: 110%;
  visibility: hidden;
  opacity: 0;
  color: var(--white);
  background-color: var(--primary-color);
}
.product-container:hover .product-background {
  visibility: visible;
  opacity: 1;
}
.product {
  position: relative;
  z-index: 200;
  aspect-ratio: 1/1.5;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
  background: var(--white);
  border: 1px solid var(--light-grey);
}
.product img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-bottom: 1px solid var(--light-grey);
}
.product-initial-description {
  padding: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-initial-name {
  font-family: Quicksand-Medium;
  font-size: var(--medium-small-font-size);
}
.product-initial-price {
  font-size: var(--small-font-size);
  color: var(--primary-color);
  text-shadow: 0 0 0.5px var(--light-black);
}
.search-window {
  position: sticky;
  top: 8rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: flex-end;
  gap: 0.5rem;
  margin-left: 4rem;
  padding: 1rem;
}
.search-field {
  all: unset;
  border-bottom: 1px solid var(--black);
  max-width: 250px;
  padding-left: 0.25rem;
  font-size: var(--search-font-size);
}
.categories-header {
  margin: 2rem 0 0.5rem;
  padding-right: 1rem;
  font-size: var(--category-font-size);
}
.search-category-button {
  position: relative;
  width: max-content;
  cursor: pointer;
  font-size: var(--medium-small-font-size);
}
.search-category-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1.5px;
  background: var(--primary-color);
  transition: all 0.2s ease;
}
.search-category-button:hover::before {
  left: 0;
  width: 100%;
}
.clear-category-button {
  position: relative;
  translate: 0 100%;
  text-align: center;
  padding: 0.25rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  background: var(--black);
  cursor: pointer;
}
.clear-category-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: all 0.2s ease;
}
.clear-category-button:hover::after {
  left: 0;
  width: 100%;
}
.clear-cart {
  background: var(--primary-color);
  text-decoration: none;
}
.clear-cart::after {
  height: 1px;
  background: var(--black);
}
.refresh-back {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 420px) {
  main {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 854px) {
  .search-window {
    margin-left: 0.5rem;
    width: 160px;
  }
}
@media screen and (max-width: 600px) {
  .search-window {
    margin-left: 0rem;
    padding: 0 0 0 0.5rem;
  }
}

.product-modal-background {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}
.product-modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 600px;
  aspect-ratio: 3/2;
  display: flex;
  background: var(--white);
  box-shadow: 2px 2px 4px var(--light-black);
  overflow: hidden;
}
.product-modal-container > * {
  height: 100%;
}
.product-modal-image {
  width: 60%;
  box-shadow: 2px 0 4px var(--light-grey);
}
.product-full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-modal-details {
  position: relative;
  width: 40%;
  padding: var(--big-font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.product-modal-header {
  width: 90%;
  text-align: center;
  text-wrap: wrap;
  font-family: Quicksand-SemiBold;
}
.product-size-radio-container {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--add-font-size);
}
.product-size-radio {
  text-align: center;
  align-content: center;
  font-size: var(--small-font-size);
  font-weight: 600;
  border-radius: 0.2rem;
  color: var(--light-black);
  background-color: var(--white);
  cursor: pointer;
  border: 2px solid var(--light-grey);
  transition: all 0.1s linear;
}
label:hover {
  scale: 102%;
}
label:active {
  scale: 98%;
}
input[type="radio"]:checked + .product-size-radio {
  color: var(--white);
  background: var(--black);
}
.product-modal-container button:hover {
  scale: 102%;
}
.product-modal-container button:active {
  scale: 98%;
}
.product-modal-bottom-section {
  display: flex;
  gap: 0.2rem;
  height: 2rem;
}
.product-modal-bottom-section > * {
  width: 50%;
}
.input-quantity {
  text-align: center;
  padding-left: 1rem;
  font-size: var(--size-font-size);
}
.add-to-cart-button {
  text-align: center;
  font-size: var(--add-font-size);
  font-weight: 600;
  border-radius: 0.2rem;
  background: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s linear;
}
.modal-product-description {
  align-content: center;
  width: 100%;
  flex: 1;
  padding: 0.25rem;
}
.description-header {
  font-size: var(--smaller-font-size);
  border-top: 1px solid var(--black);
  font-weight: 600;
  padding-block: 0.5rem;
}
.description-content {
  font-size: 0.5rem;
  text-indent: 1rem;
  text-align: justify;
  line-height: 1.5;
}
.exit-modal-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.exit-modal-button:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
.exit-modal-button:active {
  background-color: rgb(0, 0, 0, 0.2);
}
.payment-container {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.payment-container-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.payment-container-methods {
  position: absolute;
  z-index: 1000;
  width: min(100%, 40rem);
  max-height: 40rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
  background: var(--white);
  padding: 2rem;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .product-modal-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }
  .product-modal-image {
    width: 100%;
    height: 50%;
  }
  .product-modal-details {
    height: 50%;
    width: 100%;
  }
  .exit-modal-button {
    right: 1rem;
  }
}
