:root {
  --phLogo-size: clamp(3rem, 5vw, 4rem);
  --phLogo2-size: clamp(10rem, 10vw, 14rem);
  --input-padding: 0.75rem;
  --border-radius: 0.5rem;
  --error-font-size: clamp(0.75rem, 2.5vw, 1rem);
  --address-font-size: clamp(0.75rem, 3vw, 1.25rem);
}
main {
  min-height: 100vh;
  padding: 1rem;
}
button {
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  translate: 0 -2px;
}
button:active {
  scale: 99%;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(95%, 24rem);
  height: min(100%, 35rem);
  padding: var(--medium-font-size);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-font-size);
  background: var(--black);
}
.exit-form-button {
  filter: invert();
  position: absolute;
  width: 1.5rem;
  top: 1rem;
  left: 1rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.input-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container input {
  border: none;
  border-radius: 4px;
  font-family: Poppins-Light;
}
.form-container input:focus {
  outline: none;
}
.phLogo {
  object-fit: contain;
  width: var(--phLogo-size);
  height: 16%;
}
.form-container div,
.first-last-name > * {
  width: 100%;
}
.input-field-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.input-field-container > * {
  display: block;
  padding: var(--input-padding);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.first-last-name {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}
.first-last-name > * {
  padding: var(--input-padding);
}
.user-btn {
  display: block;
  margin: 0.5rem auto 0;
  padding: 0.75rem 1.5rem;
  font-family: Poppins-Medium;
  font-size: 0.75rem;
  border-radius: 4px;
  color: var(--white);
  background: var(--primary-color);
  gap: 0;
}

.blur-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px) brightness(80%);
  transition: all 0.25s ease;
}
.notification-list {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(80%, 20rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.error {
  font-size: var(--error-font-size);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #c71b17;
  border: 1px solid #c71b17;
}
.notif {
  font-size: var(--error-font-size);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #2cf651;
  border: 1px solid #2cf651;
  text-align: center;
}
.otp-form {
  align-items: flex-start;
}
.otp-header {
  font-size: var(--medium-small-font-size);
  color: var(--white);
}
.otp-form .input-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}
.input-otp {
  width: 6rem;
  text-align: center;
}
#map {
  margin: 0 auto 2rem;
  height: min(80vh, 50rem);
  border: 5px solid var(--light-grey);
  border-radius: 0.25rem;
}
.address-input {
  margin: auto;
  width: max-content;
  display: flex;
  justify-content: center;
}
.input-address {
  all: unset;
  font-size: var(--address-font-size);
  width: min(50vw, 20rem);
  border-bottom: 1px solid #000;
}
.address-btn {
  height: 100%;
  margin: 0;
}
.address-btn:hover {
  translate: 0;
}
.login-field-container {
  width: 100%;
  height: 50%;
  justify-content: center;
  text-align: center;
}
.phLogo-login {
  width: var(--phLogo2-size);
  height: 24%;
}
.user-form-link {
  font-size: var(--medium-small-font-size);
  color: var(--white);
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 760px) {
  main {
    background: var(--black);
  }
  .input-address {
    color: var(--white);
    border-bottom: 1px solid var(--white);
  }
}
